{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock styles %}
{% block content %}
<h1 id="print"></h1>
<b>About Me</b>
    <ul>
    <li>我是{{ admin.name }}</h4>
    <li class="card-text">{{ admin.about }}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('admin.settings')}}" ><i class="fa fa-cog" style="font-size:16px">edit</i></a>
        {% endif %}
    </li>
    <ul>
<br>
<b>About this site</b>
<ul>
    <li style="margin-top:20px;">这个网站是我在练习<a href="https://flask.palletsprojects.com/en/2.3.x/">flask</a>时做的一个项目</li>
    <li>UI框架是<a href="https://terminalcss.xyz/">Terminal.css</a>,相当戳中我的审美点。</li>
</ul>
<br>
<b>My project</b>
<ol>
{% for project in projects %}
    
        <li style="margin-top:20px;">{{ project.title }}</li>

{% endfor %}
</ol>
{% endblock content %}

{% block scripts %}
<script>

    let text = "About";  
    let index = 0;  
    let div = document.getElementById('print');   
    
    setInterval(function() {  
      if(index < text.length) {  
          div.innerHTML += text.charAt(index);  
          index++;  
      }  
    }, 80); 
  </script>
{% endblock scripts %}

