{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock styles %}
{% block content %}
<h1 id="print"></h1>
<b>About Me</b>
    <ul>
    <li>我是{{ admin.name }}</h4>
    <li class="card-text">{{ admin.about }}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('admin.settings')}}" ><i class="fa fa-cog" style="font-size:16px">edit</i></a>
        {% endif %}
    </li>
    <ul>
<br>
<b>My project</b>
{% for project in projects %}
<div class="row mt-3" >
        <h4 style="margin-top:20px;">{{ project.title }}</h5>
        <li>{{ project.detail }}</li>
        <p class="badge badge-primary"></p>
        <div class="progress-bar progress-bar-show-percent">
        <div class="progress-bar-filled" style="width:{{ project.progress }}%;" data-filled="Loading {{  project.progress }}%"></div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock content %}

{% block scripts %}
<script>

    let text = "About";  
    let index = 0;  
    let div = document.getElementById('print');   
    
    setInterval(function() {  
      if(index < text.length) {  
          div.innerHTML += text.charAt(index);  
          index++;  
      }  
    }, 80); 
  </script>
{% endblock scripts %}

