{% extends "base.html" %}
{% block header %}
{% endblock header %}
{% block content %}
<div id="accordion">
{% for category in  categories %} 
    <div class="card">
      <div class="card-header">
        <i class="fa fa-hand-o-right" style="font-size:28px"></i>
        <span class="category-title">
            <a class="card-link " data-toggle="collapse" href="#{{category.name}}">
                &nbsp;&nbsp;{{ category.name }}
            </a>
            {% if current_user.is_authenticated %}
            <form  method="post" class="float-right"
                        action="{{ url_for('admin.delete_category',category_id=category.id,
                                next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type = 'submit' class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure?');">删除
                    </button>
            </form>
            {% endif %}
        </span>
      </div>
      <div id="{{category.name}}" class="collapse" data-parent="#accordion">
        <div class="list-group">
            {% for post in category.posts %}
                <a href="{{ url_for('blog.show_post',post_id=post.id) }}" class="list-group-item list-group-item-action">
                    <i class="fa fa-chevron-circle-right" style="font-size:18px"></i>
                    &nbsp;{{ post.title }}</a>
            {% endfor %}
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock content %}