{% extends "base.html" %}
{% block content %}
<div class="col-sm-12">
<!--<div class="jumbotron jumbotron-fluid mt-4">
    <div class="container">-->
    <h1 class="category_title_moblie">{{ category.name }}</h1>
    <hr>
    <!--</div>
</div>-->
<div class="list-group mt-4">
    <ul>
    {% for post in posts %}
    <li style="margin-top: 8px;"><a href="{{ url_for('blog.show_post',post_id=post.id) }}">
        {{ post.title }} </a>
    </li>
    {% endfor %}
    </ul>
</div>
</div>
{% endblock content %}