{% extends "base.html" %}
{% block title %}
 categories
{% endblock title %}
{% block content %}
<h1 id = "print"></h1>
<ol class="terminal-toc">
{% for category in  categories %}
    <li><a  href="{{url_for('blog.show_category',category_id=category.id)}}">{{category.name}}</a></li>
{% endfor %}
</ol>
{% endblock content %}

{% block scripts %}
<script>

  let text = "Categories";  
  let index = 0;  
  let div = document.getElementById('print');   
  
  setInterval(function() {  
    if(index < text.length) {  
        div.innerHTML += text.charAt(index);  
        index++;  
    }  
  }, 100); 
</script>
{% endblock scripts %}