{% extends "base.html" %}
{% block content %}
<div class="col-sm-12">
    <h1 class="">--{{ category.name }}--</h1>
<div class="list-group mt-4">
    <ul>
    {% for post in posts %}
    <li style="margin-top: 6px;"><a  href="{{ url_for('blog.show_post',post_id=post.id) }}">
        {{ post.title }} </a> <span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">,&nbsp;创作于{{(post.timestamp + dt).strftime("%Y年%m月%d日")}}</span>
    </li>
    {% endfor %}
    </ul>
</div>
</div>
{% endblock content %}