{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 post-area">
        {% if posts %}
            {% for post in posts %}
            <article class="post ">
                <header>
                    <div>
                        <h1 class="post-title" style="text-align: center;"><a href="{{ url_for('.show_post', post_id=post.id ) }}">{{ post.title }}</a></h1>
                        <div class="about" style="text-align: center;">    
                                日期 : {{ moment(post.timestamp).format('LL')}} 
                                &nbsp;分类 : <a href="{{ url_for('blog.show_category',category_id=post.category.id) }}">{{ post.category.name }}</a>
                                &nbsp;评论 : <a href="#">{{ post.comments|length}}</a>
                        </div>
                    </div>
                </header>
                <div class="post-about">
                <p class="" style="text-indent: 35px;line-height: 1.6;letter-spacing: 1px;">
                    {% if post.body_html %}
                    {{ post.body_html|striptags|truncate }}
                    {% else %}
                    {{ post.body|striptags|truncate }}
                    {% endif %}
                    <small><a href="{{ url_for('.show_post', post_id=post.id ) }}">更多</a></small>
                </p>
                </div> 
            </article>
            {% endfor %}
        {% else %}
            <div class="tip">
                <h5>这个人很懒,还没写博客...</h5>
            </div>
        {% endif %}
        </div>
        <div class="col-sm-4">
            <div class="card">
                {% include 'blog/_mycard.html' %}
            </div>
            <div class="sidebar">
                {% include 'blog/_sidebar.html' %}
            </div>
        </div>
    </div>
    {{ render_pagination(pagination) }}
</div>
{% endblock %}
