{% extends "base.html" %}

{% block title %}
    Archive
{% endblock title %}

{% block content %}
<div class='col-sm-12'>

<h1 class="">Archive🕐</h1>
<hr>
<div>
    未完待续...
<div style="margin-top:20px">
    {% for post in posts %}
    {% if loop.changed(post.timestamp.strftime("%Y")) %}
        <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-bottom:20px;margin-top:20px;">{{ post.timestamp.strftime("%Y") }}</h3>
    {% endif %} 
    <p style="margin-bottom:8px;margin-left:20px"><span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">{{(post.timestamp + dt).strftime("%m/%d")}}</span> &nbsp;&nbsp;&nbsp;<a href="{{ url_for('blog.show_post',post_id=post.id)}}">{{post.title}}</a></p>
    {% endfor %}
        
    
</div>
</div> 
</div>



{% endblock content %}