{% extends "base.html" %}

{% block title %}
    Archive
{% endblock title %}

{% block content %}

<h1 id = "print"></h1>
<div>
    未完待续...
<div style="margin-top:20px">
    {% for post in posts %}
    {% if loop.changed(post.timestamp.strftime("%Y")) %}
        <h3 >{{ post.timestamp.strftime("%Y") }}</h3>
    {% endif %} 
    <p style="margin-bottom:8px;margin-left:20px"><span>{{(post.timestamp + dt).strftime("%m/%d")}}</span> &nbsp;&nbsp;&nbsp;<a href="{{ url_for('blog.show_post',post_id=post.id)}}">{{post.title}}</a></p>
    {% endfor %}
</div>
</div> 
</div>



{% endblock content %}
{% block scripts %}
<script>

    let text = "Archive";  
    let index = 0;  
    let div = document.getElementById('print');   
    
    setInterval(function() {  
      if(index < text.length) {  
          div.innerHTML += text.charAt(index);  
          index++;  
      }  
    }, 100); 
  </script>
{% endblock scripts %}
