{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_form %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='editormd/css/editormd.preview.min.css') }}" rel="stylesheet" />  
<link href="{{ url_for('static', filename='editormd/css/editormd.css') }}" rel="stylesheet" /> 
{% endblock styles %}
{% block title %}
{{ post.title }}
{% endblock title %}
{% block content %}
<div class="col-sm-12">
<div  class= "mx-auto">
    
<div class="page-header text-muted">
    <h2 class="post-title">{{ post.title }}</h2>
    <hr>
    <small>
        分类:  <span class="badge badge-light"><a href="{{ url_for('blog.show_category',category_id=post.category.id) }}">{{ post.category.name }}</a></span><br>
        日期:  {{ (post.timestamp + dt).strftime("%Y-%m-%d") }}
    </small>
</div>
<div class="row">
    <div class="" id="fancy-content">
    <p style="line-height: 1.8;letter-spacing: 2px;">
        {% if post.body_html %}
            {{ post.body_html | safe}}
        {% else %}
            {{post.body|safe}}
        {% endif %}
    </p>
    </div>
</div>
</div>
{% if post.can_comment %}
<div id="comment-form">
    {% if request.args.get('reply') %}
    <div class="alert alert-dark">
        Reply to <strong> {{ request.args.get('author') }}</strong>:
        <a class="float-right" href="{{ url_for('.show_post', post_id=post.id) }}">Cancel</a>
    </div>
    {% endif %}
    {{ render_form(form, action=request.full_path) }}
</div>
{% else%}
    <div class="tip"><h5>Comment disabled.</h5></div>
{% endif %}

<div class="comments" id="comments">
    <h3 class="comment-top">&nbsp;评论&nbsp;<span class="badge badge-secondary">{{ pagination.total }}</span> 
        <small class="float-right">
            <a href="{{ url_for('blog.show_post',post_id=post.id, page=pagination.pages or 1)}}#comments">最新评论</a>
        </small>
    </h3>
    {% if comments %}
        {% for comment in comments %}
        <div class="card comment-card">
            <div class="card-body">
                <h4 class="card-title">
                    {% if comment.from_admin %}
                        {{ admin.name }}
                    {% else %}
                        {{ comment.author}}
                    {% endif %}
                    {% if comment.from_admin %}
                        <span class="badge badge-success">Admin</span>
                    {% endif %}
                    {% if comment.replied %}
                        <span class="badge badge-light">Reply</span>
                    {% endif %}
                <small class="float-right text-muted .comment-time" >{{ (comment.timestamp + dt).strftime("%Y-%m-%d %H:%M") }}</small>
                </h4>
                {% if comment.replied %}
                    <p class="alert alert-dark reply-body">{{ comment.replied.author}}:
                        <br>{{ comment.replied.body }}
                    </p>
                {% endif %}
                <p class="card-text">{{ comment.body}}</p>
                <div class="card-link float-right">
                    {% if current_user.is_authenticated %}
                    <form style="display: inline;" method="post"
                        action="{{ url_for('admin.delete_comment',comment_id=comment.id,
                                next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type = 'submit' class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure?');">删除
                    </button>
                    </form>
                {% endif %}
                    <a href="{{ url_for('blog.reply_comment',comment_id=comment.id)}}" class="btn btn-primary btn-sm card-link">回复</a>
                </div>
                
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="tip"><h5>暂时没有评论.</h5></div>
    {% endif %}
</div>
{% if comments %}
    {{ render_pagination(pagination,fragment='#comments') }}
{% endif %}
</div>
{% endblock content %}
{% block scripts %}
   {{ super() }}
   <script type="text/javascript" src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>
    <script type="text/javascript">
        editormd.markdownToHTML("fancy-content");
    </script>
{% endblock scripts %}