{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}
{{ post.title }}
{% endblock title %}
{% block content %}
<div  class= "mx-auto" style="width:880px">
<div class="page-header text-muted">
    <h1 class="post-title">{{ post.title }}</h1>
    <small>
        分类:  <a href="#">{{ post.category.name }}</a><br>
        日期:  {{ moment(post.timestamp).format('LL') }}
    </small>
</div>
<div class="row">
    <div class="post-area post-detail col-sm-12">
    <p style="line-height: 1.8;letter-spacing: 2px;">
        {% if post.body_html %}
            {{ post.body_html | safe}}
        {% else %}
            {{post.body|safe}}
        {% endif %}
    </p>
    </div>
</div>
</div>
<div id="comment-form">
    {{ render_form(form, action=request.full_path) }}
</div>
<div class="comments" id="comments">
    <h3 class="comment-top">&nbsp;评论&nbsp;<span class="badge badge-secondary">{{ pagination.total }}</span> 
        <small class="float-right">
            <a href="{{ url_for('blog.show_post',post_id=post.id, page=pagination.page or 1)}}#comments">最新评论</a>
        </small>
    </h3>
    {% if comments %}
        {% for comment in comments %}
        <div class="card comment-card">
            <div class="card-body">
                <h4 class="card-title">
                    {% if comment.from_admin %}
                        {{ admin.name }}
                    {% else %}
                        {{ comment.author}}
                    {% endif %}
                    {% if comment.from_admin %}
                        <span class="badge badge-success">Admin</span>
                    {% endif %}
                    {% if comment.replied %}
                        <span class="badge badge-light">Reply</span>
                    {% endif %}
                <small class="float-right text-muted">{{ moment(comment.timestamp).fromNow() }}</small>
                </h5>
                {% if comment.replied %}
                    <p class="alert alert-dark reply-body">{{ comment.replied.author}}:
                        <br>{{ comment.replied.body }}
                    </p>
                {% endif %}
                <p class="card-text">{{ comment.body}}</p>
                <div class="card-link float-right"><a href="#" class="btn btn-primary btn-sm card-link">回复</a></div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="tip"><h5>暂时没有评论.</h5></div>
    {% endif %}
</div>
{% if comments %}
    {{ render_pagination(pagination,fragment='#comments') }}
{% endif %}
{% endblock content %}