{% extends "base.html" %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}
  文章管理
{% endblock title%}
{% block content %}
<div class="page-header">
    <h1>Post
        <small class="text-muted">{{ pagination.total }}</small>
        <span class="float-right"><a class="btn btn-primary btn-sm" href="{{ url_for('admin.new_post')}}">New</a></span>
    </h1>
</div>
{% if posts %}
<table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th class="center">id</th>
        <th class="center">Title</th>
        <th class="center">Category</th>
        <th class="center">Date</th>
        <th class="center">Comments</th>
        <th class="center">Word</th>
        <th class="center">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for post in posts %}
      <tr>
        <td class="center">{{ loop.index + ((page - 1) * 20 ) }}</td>
        <td class="center"><a href="{{ url_for('blog.show_post',post_id=post.id)}}">{{ post.title }}</a></td>
        <td class="center"><a href="{{ url_for('blog.show_category',category_id = post.category.id)}}"> {{ post.category.name }}</a></td>
        <td class="center">{{ moment(post.timestamp).format('LL')}}</td>
        <td class="center"><a href="{{ url_for('blog.show_post',post_id=post.id)}}#comments">{{ post.comments|length }}</a></td>
        <td class="center">{{ post.body | length }}</td>
        <td class="center">
            <a class="btn btn-info btn-sm" href="{{ url_for('admin.edit_post',post_id=post.id) }}">Edit</a>
            <form class="inline" method="post" style="display: inline;"
                action="{{ url_for('admin.delete_post',post_id=post.id,next=request.full_path) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确定要删除吗?')">Del
                </button>
            </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<div class="tip"><h5>你还没有写文章...</h5></div>
{% endif %}
{% endblock content %}