html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white;}
h1 { font-family: 'Garamond', 'Georgia', serif; color: #377ba8; margin: 1rem 0; }
h5 {font-family:'Garamond', 'Georgia', serif; color:black;margin: 1rem 0;}
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
.top-nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.inline {
    display: inline;
}
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.7em; margin-bottom: 0; font-family:Helvetica Neue,Helvetica,WenQuanYi Micro Hei,Arial,sans-serif;}
.post .about { color: slategray;}
.post .body { white-space: pre-line;font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
            color:#3E4349;}
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical;}
.sidebar {margin-top: 30px;}
.post-about {margin-top: 20px;color: #495057;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
    "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:0.95rem;font-weight: 400;line-height: 1.5;}
.post-area {margin-top: 30px;}
.post-detail {font-weight: 400;line-height: 1.5;color:#3E4349;font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC",
    "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;font-size: 17px;}
.post-body {padding: 100px,200px;}
.demon {border-color: black;border-radius: 2px;}
.card {margin-top: 30px;}
.comment-card {margin-top: 5px;}
.post-title {margin-top:20px;font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
.right {float:right;}
.category-title {font-size: 24px;}
small{
    font-size: 80%;
    font-weight: 400;
}
.detail-topic{
    margin-top: 20px;
}
.comment-top {margin-bottom: 20px;margin-top: 50px;}
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
.center {text-align: center;}

@media (min-width: 0px) and (max-width:768px) {
    .moblie_miss{
        display:none;
    }
    .moblie_me{
        width: 300px;
    }
    .moblie_title{
        font-size: 25px;
    }
    .moblie_title_index{
        font-size: 30px;
    }
    .moblie_nav_item{
        font-size: 14px;
    }
    .card-title{
        font-size: 14px;
        
    }
    .card-text{
        font-size: 15px;
    }
    .reply-body{
        font-size: 13px;
    }
    .category_moblie{
        font-size:16px;
    }
    .category_title_moblie{
        font-size: 26px;
    }
    pre {max-height: 250px;overflow-x: hidden;overflow-y: scroll;}
}

@media (min-width: 768px) and (max-width:992px){
    .moblie_me{
        width: 450px;
        
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 992px) {
    .moblie_me{
        width: 500px;
        
    }
    
}
