<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block styles %}
{{ bootstrap.load_css() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
{% endblock styles %}
<title>{% block title %}R1cardohj's blog{% endblock %}</title>
</head>
<nav class="top-nav navbar navbar-expand-sm">
  <h1 class="display-4"><a href="{{ url_for('blog.index') }}">YellowBean's blog</a></h1>
  <ul>
    <li >
      <a href="{{ url_for('blog.index') }}">首页</a>
    </li>
    <li>
      <a href="{{ url_for('blog.category') }}">分类</a>
    </li>
    <li>
      <a href="{{ url_for('blog.about')}}">关于我</a>
    </li>
    {% if current_user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">管理</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('admin.manage_post')}}">我的文章</a>
          <a class="dropdown-item" href="{{ url_for('admin.manage_comment') }}">读评论
            {% if unread_comments %}
              <span class="badge badge-success">{{ unread_comments }}</span>
            {% endif %}
          </a>
          <a class="dropdown-item" href="{{ url_for('admin.new_category') }}">新分类</a>
          <a class="dropdown-item" href="{{ url_for('admin.manage_project')}}">项目管理</a>
        </div>
      </li>  
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <div class="container-fluid">
    <div class="row">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  
</section>
{% block footer %}
        <footer>
            <p class="float-left">
                <small> &copy; 2023 <a href="#" title="Written by yellowbean">r1cardohj</a> -
                    <a href="https://github.com/r1cardohj" title="Fork me on GitHub">GitHub</a> -
                </small>
            </p>
            <p class="float-right">
                <small>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout', next=request.full_path) }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('auth.login', next=request.full_path) }}">Login</a>
                    {% endif %}
                </small>
            </p>
        </footer>
    {% endblock footer %}
{% block scripts %}
{{ bootstrap.load_js() }}
{{ moment.include_moment() }}
<!--{{ moment.locale('zh-cn')}}-->
{% endblock %}
