<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block styles %}
{{ bootstrap.load_css() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
{% endblock styles %}
<title>{% block title %}R1cardohj's blog{% endblock %}</title>
</head>
<nav class="top-nav">
  <h1 class="display-4"><a href="{{ url_for('blog.index') }}">YellowBean's blog</a></h1>
  <ul>
    <li>
      <a href="{{ url_for('blog.index') }}">首页</a>
    </li>
    <li>
      <a href="{{ url_for('blog.category') }}">分类</a>
    </li>
    <li>
      <a href="{{ url_for('blog.about')}}">关于我</a>
    </li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
{% block scripts %}
{{ bootstrap.load_js() }}
{{ moment.include_moment() }}
{{ moment.locale('zh-cn')}}
{% endblock %}