<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}R1cardohj's blog{% endblock title %}
  </title>
  <meta name="description" content="blog;python;r1cardohj">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='t.css') }}" />
    <style>
      .pagination li{
        display: inline;  
      }
    </style>
  {% endblock styles %}
</head>
<body>
<div class="container">
  <div class="terminal-nav">
    <header class="terminal-logo">
      <div class="logo terminal-prompt"><a href="{{ url_for('blog.index')}}" class="no-style">Wrote Down</a>
      </div>
    </header>
    <nav class="terminal-menu">
      <ul  typeof="BreadcrumbList">
          <li><a href="{{ url_for('blog.category')}}">Category</a></li>
          <li><a href="{{ url_for('blog.logmyself')}}">Archive</a></li>
          <li><a href="{{ url_for('blog.about')}}">About</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('admin.manage')}}">Manage</a></li>
          <li><a href="{{ url_for('auth.logout', next=request.full_path)}}">Logout</a></li>
          {% endif %}
      </ul>
     </nav>
  </div>
<div>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="terminal-alert terminal-alert-primary">{{ message }}</div>
  {% endfor %}

  {% block content %}    
  {% endblock content %}
</section>
</body>
{% block footer %}
<address style="text-align:right;">
    © 2023 r1cardohj<br>  
    this <a href="{{ url_for('auth.login', next=request.full_path)}}">site</a> is Power by Flask<br>
    Email:<a>2413302357@qq.com</a><br>
</address>
{% endblock footer %}
{% block scripts %}

{% endblock scripts %}
