{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 post-area">
        {% for post in posts %}
        <article class="post ">
            <header>
                <div>
                    <h1 class="post-title"><a href="#">{{ post.title }}</a></h1>
                    <div class="about">{{ moment(post.timestamp).format('LL')}} </div>
                </div>
            </header>
            <p class="body">{{ post.body[:255] }} ... </p>
        </article>
        {% endfor %}
        </div>
        <div class="col-sm-4">
            <div class="card">
                {% include 'blog/_mycard.html' %}
            </div>
            <div class="sidebar">
                {% include 'blog/_sidebar.html' %}
            </div>
        </div>
    </div>
    {{ render_pagination(pagination) }}
</div>
{% endblock %}
