{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block header %}
  <h1>可恶!被发现了</h1>
  
{% endblock %}

{% block content %}
    {% for post in posts %}
    <article class="post">
        <header>
            <div>
              <h1>{{ post.title }}</h1>
                <div class="about">{{ moment(post.timestamp).format('LL')}} </div>
            </div>
        </header>
        <p class="body">{{ post.body[:255] }} ... </p>
    </article>
    {% endfor %}
    {{ render_pagination(pagination) }}
{% endblock %}
