{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 post-area">
        {% if posts %}
            {% for post in posts %}
            <article class="post ">
                <header>
                    <div>
                        <h1 class="post-title"><a href="{{ url_for('.show_post', post_id=post.id ) }}">{{ post.title }}</a></h1>
                        <div class="about">{{ moment(post.timestamp).format('LL')}} </div>
                    </div>
                </header>
                <p class="body">{{ post.body|striptags|truncate }}</p> <!--这里这个过滤器蛮给力的-->
            </article>
            {% endfor %}
        {% else %}
            <div class="tip">
                <h5>这个人很懒,还没写博客...</h5>
            </div>
        {% endif %}
        </div>
        <div class="col-sm-4">
            <div class="card">
                {% include 'blog/_mycard.html' %}
            </div>
            <div class="sidebar">
                {% include 'blog/_sidebar.html' %}
            </div>
        </div>
    </div>
    {{ render_pagination(pagination) }}
</div>
{% endblock %}
